/RetoSIgnUpSignIn/nbproject/private/
/RetoSIgnUpSignIn/build/
/RetoSIgnUpSignIn/dist/
/RetoSignUpSignIn/nbproject/private/
/RetoSignUpSignIn/dist/
/RetoSignUpSignIn/build/
/Reto1_SignUpSignIn/build/
/Reto1_SignUpSignIn/dist/
/Reto1_SignUpSignIn/nbproject/private/
/Cliente_SignUpSignIn/nbproject/private/
/Cliente_SignUpSignIn/build/
/Cliente_SignUpSignIn/dist/